@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    background-color: whitesmoke;
}

.header {
    height: 400px;
    background-image: url("../Images/coffee-bgnd.jpeg");
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 133px;
    -moz-box-sizing: border-box;
}

h1 {
    font-size: 100px;
    font-family: "Covered By Your Grace", cursive;
    color: rgba(3, 150, 100, 0.75);
    text-align: center;
    padding-top: 3px;
}
ul  {
    list-style: none;
    padding: 0
    }
.main li {margin: 100px 0;
border-bottom: 1px solid brown;
padding-bottom: 60px;
}
.main li > h2
{
  font-size: 28px;
    font-weight: 1700;
    background-color: lightgrey;
    text-align: center;
    text-transform: uppercase;
}

.main li > p{
    color: #454; /*#445544*/
    font-weight: 500;
    padding: 10px 5px;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.5;
}

.main li > a
{
    text-decoration: none;
color: #454;
    text-transform: uppercase;

letter-spacing: 2px}
